<h1>Добавляем тудушку</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="." method="post">
{% csrf_token %}
Имя тудушки: <input type="text" name="todocaption"> <br />
Описание, если не сложно: <input type="text" name="tododescription"> <br />
Комментарий, если нужно: <input type="text" name="todocomment"> <br />
Кому: <select multiple name="forwhom">
{% for user in users %}
<option value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }} ({{ user }}) </option>
{% empty %}
<option> Нет </option>
{% endfor %}
</select> <br />
<input type="submit" value="OK" />
</form>
<a href="{% url 'todolist.views.index' %}">Обратно</a>