{% extends "base.html" %}
{% block title %} Добавить {% endblock %}
{% block content %}
  <h1>Добавление задачи</h1>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action="." method="post">
  {% csrf_token %}
  <label for="todocaption">Название задачи:</label>
    <input class="input-large" type="text" name="todocaption" maxlength="25">
    <span class="help-block">Максимум 25 символов. Это имя пользователи будут видеть в списке. Желательно сделать его коротким, но выразительным.</span>
    <label for="tododescription">Описание, если не сложно:</label>
    <textarea rows="2" class="input-xxlarge" name="tododescription"></textarea>
    <span class="help-block">Этот текст должен разъяснять детали. Он может быть произвольной длины.</span>
    <label for="todocomment">Комментарий, если нужно:</label>
    <textarea rows="2" class="input-xxlarge" name="todocomment"></textarea>
    <span class="help-block">Вам еще есть что сказать? Это ваш шанс.</span>
    <label for="forwhom">Кому назначено выполнение:</label>
    <select multiple class="span4" name="forwhom">
    {% for user in users %}
        <option {% ifequal doer.id user.id %}selected{% endifequal %} value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }} ({{ user }}) </option>
    {% empty %}
        <option> Нет </option>
    {% endfor %}
    </select>
    <span class="help-block">Есть возможность выделить сразу несколько жертв, если зажать Ctrl.</span>
    <label for="duedate">Крайняя дата выполнения:</label>
    <input size="16" type="text" class="form_datetime" name="duedate">
    <span class="help-block">Когда наступает крайний срок для данной задачи?</span>
    <button class="btn" type="submit">
      <i class="icon-ok"></i> Добавить
    </button>
  </form>
  <a href="{% url 'todolist.views.index' %}">На главную</a>
  <br />
  <script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'ru',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0
    });
  </script>
{% endblock %}