{% extends "base.html" %}
{% block title %} Редактировать {{ todo.caption }} {% endblock %}
{% block content %}
  <h1>Редактируем тудушку {{ todo.caption }}</h1>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action="." method="post">
  {% csrf_token %}
  <div class="form-group">
      <div class="form-group">
          <label for="todocaption">Имя тудушки:</label>
          <input class="form-control" type="text" name="todocaption" value="{{ todo.caption }}">
      </div>
      <div class="form-group">
          <label for="tododescription">Описание, если не сложно:</label>
          <input class="form-control" type="text" name="tododescription" value="{{ todo.description }}">
      </div>
      <div class="form-group">
          <label for="todocomment">Комментарий, если нужно:</label>
          <input type="text" class="form-control" name="todocomment" value="{{ todo.comment }}">
      </div>
      <div class="form-group">
          <label for="forwhom">Кому:</label>
          <select multiple class="form-control" name="forwhom">
          {% for user in users %}
              <option {% if user in todo.doers.all %}selected{% endif %} value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }} ({{ user }}) </option>
          {% empty %}
              <option> Нет </option>
          {% endfor %}
          </select>
      </div>
      <div class="form-group">
          <label for="duedate">Дата выполнения:</label>
          <input size="16" type="text" class="form-control form_datetime" value="{{ todo.due_date }}" name="duedate">
      </div>
      <input class="btn btn-default" type="submit" value="OK" />
  </form>
  <a href="{% url 'todolist.views.index' %}">Обратно</a>
      <script type="text/javascript">
      $('.form_datetime').datetimepicker({
          language:  'ru',
          weekStart: 1,
          todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          forceParse: 0
      });
  </script>
{% endblock %}
