<h1>Редактируем тудушку {{ todo.caption }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="." method="post">
{% csrf_token %}
Имя тудушки: <input type="text" name="todocaption" value="{{ todo.caption }}"> <br />
Описание, если не сложно: <input type="text" name="tododescription" value="{{ todo.description }}"> <br />
Комментарий, если нужно: <input type="text" name="todocomment" value="{{ todo.comment }}"> <br />
Кому: <select name="forwhom">
{% for user in users %}
<option value="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }} ({{ user }}) </option>
{% empty %}
<option> Нет </option>
{% endfor %}
</select> <br />
<input type="submit" value="OK" />
</form>
<a href="/">Обратно</a>