{% extends "base.html" %}
{% block title %} Главная {% endblock %}
{% block content %}
  <h1>Здрасьте, {{ user }}</h1>
  <hr />
  <h4>Невыполненные тудушки для вас:</h4>
  {% if myTodos %}
    <table border="1">
      <tr>
        <th>Тудушка</th> <th>Описание</th> <th>Комментарий</th> <th>Кто посмел</th> <th>Кто выполняет</th> <th>Дата</th> <th>Срок</th> <th>Выполнено!</th> 
      </tr>
    {% for todo in myTodos %}
      <tr>
        <td>{{ todo.caption }}</td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td><a href="{% url 'todolist.views.user' todo.author.id %}">{{ todo.author }}</a></td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td><td><a href="{% url 'todolist.views.submit' todo.id %}">v</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />

  <h4>Архив выполненного вами:</h4>
  {% if myPastTodos %}
    <table border="1">
      <tr>
        <th>Тудушка</th> <th>Описание</th> <th>Комментарий</th> <th>Кто посмел</th> <th>Кто выполняет</th> <th>Дата</th> <th>Срок</th> 
      </tr>
    {% for todo in myPastTodos %}
      <tr>
        <td>{{ todo.caption }}</td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td><a href="{% url 'todolist.views.user' todo.author.id %}">{{ todo.author }}</a></td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />

  <h4>Тудушки вашего авторства:</h4>
  {% if todosByMe %}
    <table border="1">
      <tr>
        <th>Тудушка</th> <th>Описание</th> <th>Комментарий</th> <th>Кому выдано</th> <th>Дата</th> <th>Срок</th> <th>Статус</th> <th>Удалить</th> 
      </tr>
    {% for todo in todosByMe %}
      <tr>
        <td><a href="{% url 'todolist.views.edit' todo.id %}">{{ todo.caption }}</a></td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td> <td>{% if todo.done %} v {% else %} - {% endif %}</td> <td><a href="{% url 'todolist.views.delete' todo.id %}">x</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />
  <a href="{% url 'todolist.views.add' %}">Добавить тудушку</a> <br />
  <a href="/admin/">Панель администрирования</a> <br />
{% endblock %}