{% extends "base.html" %}
{% block title %} Менеджер задач сотрудников ЦДЮТТ {% endblock %}
{% block content %}
  <h1>Менеджер задач сотрудников ЦДЮТТ</h1>
  <h3>Здравствуйте, {{ user.first_name }} {{ user.last_name }} ({{ user }})</h3>
  <hr />
  <h4>Невыполненные задачи, назначенные вам:</h4>
  {% if myTodos %}
    <table class="table table-hover">
      <tr>
        <th>Название</th> <th>Описание</th> <th>Комментарий</th> <th>Автор</th> <th>Исполнитель</th> <th>Дата</th> <th>Срок</th> <th>Выполнить</th> 
      </tr>
    {% for todo in myTodos %}
      <tr class="error">
        <td>{{ todo.caption }}</td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td><a href="{% url 'todolist.views.user' todo.author.id %}">{{ todo.author }}</a></td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td><td><a class="btn btn-mini btn-success" href="{% url 'todolist.views.submit' todo.id %}"><i class="icon-ok"></i> Выполнено</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />

  <h4>Архив выполненных вами задач:</h4>
  {% if myPastTodos %}
    <table class="table table-hover">
      <tr>
        <th>Название</th> <th>Описание</th> <th>Комментарий</th> <th>Автор</th> <th>Исполнитель</th> <th>Дата</th> <th>Срок</th> 
      </tr>
    {% for todo in myPastTodos %}
      <tr class="success">
        <td>{{ todo.caption }}</td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td><a href="{% url 'todolist.views.user' todo.author.id %}">{{ todo.author }}</a></td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />

  <h4>Задачи, добавленные вами:</h4>
  {% if todosByMe %}
    <table class="table table-hover">
      <tr>
        <th>Название</th> <th>Описание</th> <th>Комментарий</th> <th>Исполнитель</th> <th>Дата</th> <th>Срок</th> <th>Статус</th> <th>Удалить</th> 
      </tr>
    {% for todo in todosByMe %}
      <tr class="{% if todo.done %}success{% else %}error{% endif %}">
        <td><a href="{% url 'todolist.views.edit' todo.id %}">{{ todo.caption }}</a></td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td> <td>{% if todo.done %} v {% else %} - {% endif %}</td> <td><a class="btn btn-mini btn-danger" href="{% url 'todolist.views.delete' todo.id %}"><i class="icon-remove"></i> Удалить</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />
  <a href="{% url 'todolist.views.add' %}">Добавить задачу</a> <br />
  <a href="/logout/">Выйти</a><br />
{% endblock %}