{% extends "base.html" %}
{% block title %} Пользователь {{ user.first_name }} {{ user.last_name }} ({{ user }}) {% endblock %}
{% block content %}
  <h1>Пользователь {{ user.first_name }} {{ user.last_name }} ({{ user }})</h1>
  <hr />
  <h4>Текущие задачи пользователя {{ user.first_name }} {{ user.last_name }} ({{ user }}):</h4>
    {% if todos %}
      <table class="table table-hover">
        <tr>
          <th>Название</th> <th>Описание</th> <th>Комментарий</th> <th>Автор</th> <th>Исполнитель</th> <th>Дата</th> <th>Срок</th>
        </tr>
      {% for todo in todos %}
        <tr class="error">
          <td>{{ todo.caption }}</td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td><a href="{% url 'todolist.views.user' todo.author.id %}">{{ todo.author }}</a></td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td>
        </tr>
      {% endfor %}
      </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />

  <h4>Выполненные задачи пользователя {{ user.first_name }} {{ user.last_name }} ({{ user }}):</h4>
  {% if doneTodos %}
    <table class="table table-hover">
      <tr>
        <th>Название</th> <th>Описание</th> <th>Комментарий</th> <th>Автор</th> <th>Исполнитель</th> <th>Дата</th> <th>Срок</th>
      </tr>
      {% for todo in doneTodos %}
        <tr class="success">
          <td>{{ todo.caption }}</td> <td>{{ todo.description }}</td> <td>{{ todo.comment }}</td> <td>{{ todo.author }}</td> <td>{% for doer in todo.doers.all %}<a href="{% url 'todolist.views.user' doer.id %}">{{ doer }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td> <td>{{ todo.pub_date }}</td> <td>{{ todo.due_date }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    Ничего нет.
  {% endif %}
  <hr />
  <a href="{% url 'todolist.views.add' user.id %}">Добавить задачу пользователю {{ user.first_name }} {{ user.last_name }} ({{ user }})</a> <br />
  <a href="{% url 'todolist.views.index' %}">На главную</a> <br />
{% endblock %}